body{
    display: flex;
    flex-flow: column;
    margin: 0;
    color: #424249;
}

body h1, h2{
    font-family: 'Righteous', sans-serif;
}

.nav{
    border: 1px solid black;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #424249;
    color: #FFFDFC;
}

.logo{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 5px;
}

.balanceDisplay{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
}

.balanceDisplay h2{
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}

.logo img{
    margin: 15px;
}

main{
    border: 1px solid black;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color: #FFFDFC;
}

main div{
    border-radius: 5px;
}

.form{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-top: 50px;
    align-items: flex-start;
    background-color: #EFE8E1;
    font-family: 'Roboto', sans-serif;
}

#addBill{
    width: 30vw;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 25px;
    background-color: #54D2E5;
}

#addBill button{
    background-color: #424249;
    color: #FFFDFC;
    padding: 15px;
    width: max-content;
    border-radius: 5px;
    width: 28vw;
    font-size: 20px;
    border: none;
}

#addBill input{
    width: 15vw;
    height: 25px;
    border: 1px solid #424249;
    border-radius: 3px;
}

.formField{
    
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 30vw;
    font-size: 25px;
}

.formField button{
    height: fit-content;
    background-color: transparent;
    border: none;
}

.title{
    margin-left: 5px;
}

.expenseList{
    padding: 0;
    margin: 0;
}

#expenseList h2{
    margin-left: 10px;
}